
.post-content {
    padding: 0.5rem 2rem 0.5rem 2rem; // Large devices

    @media (max-width: 1200px) {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
    @media (max-width: 900px) {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    @media (max-width: 600px) {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}


.post-content > p {
    padding: 0.25rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 1.5; // Increased line height for better readability
}

.post-content > h1,
.post-content > h2,
.post-content > h3 {
    margin-top: 2rem; // Increased top margin for better separation
    margin-bottom: 1.5rem; // Reduced bottom margin for tighter spacing
}

.post-content > h1 {
    font-size: 2rem; // Larger font size for main headings
    color: var(--mat-sys-primary);
}
.post-content > h2 {
    font-size: 1.75rem; // Slightly smaller than h1
    color: var(--mat-sys-secondary);
}
.post-content > h3 {
    font-size: 1.5rem; // Smaller than h2
    color: var(--mat-sys-tertiary);
}

.post-content a {
  text-decoration: underline;
}
