
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/themes/theme-colors' as theme-colors;

@use "tailwindcss" as *;

html {
  font-size: 24px;

  @media (max-width: 600px) {
    font-size: 18px;
  }
  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      secondary: theme-colors.$secondary-palette,
      tertiary: theme-colors.$tertiary-palette,
      neutral: theme-colors.$neutral-palette,
      'neutral-variant': theme-colors.$neutral-variant-palette,
      error: theme-colors.$error-palette,
    ),
    typography: "IBM Plex Sans",
    density: 0,
  ));
  --header-font-weight: 400; // Light theme: normal weight
}

body.dark-theme {
  --header-font-weight: 100; // Dark theme: thin weight
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--header-font-weight);
}

a:hover {
  color: var(--mat-sys-primary);
}

pre {
  color: var(--mat-sys-secondary);
  display: block;
  width: 100%;
  background-color: var(--mat-sys-surface-container-low);
  padding: 1rem;
}

.text-primary {
  color: var(--mat-sys-primary);
}
.text-secondary {
  color: var(--mat-sys-secondary);
}
.text-tertiary {
  color: var(--mat-sys-tertiary);
}
.text-error {
  color: var(--mat-sys-error);
}
.text-neutral {
  color: var(--mat-sys-neutral);
}
.text-neutral-variant {
  color: var(--mat-sys-neutral-variant);
}
.text-xxs {
  font-size: 0.6rem; // 12px
}

blockquote {
    margin: 1rem 0; // Adjusted for better spacing
    padding: 0.5rem 1rem; // Added padding for better readability
    background-color: var(--mat-sys-surface-container-low); // Consistent with other containers
    border-left: 4px solid var(--mat-sys-primary); // Emphasized left border
}

ul {
    margin: 1rem 0; // Adjusted for better spacing
    padding-left: 2.5rem; // Indentation for list items
}

ul li {
    margin-bottom: 0.5rem; // Spacing between list items
    font-size: 1rem; // Consistent font size with paragraphs
    list-style-type: square;
}