p {
    padding: 0.25rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 1.5; // Increased line height for better readability
}

h2 {
    margin-top: 0rem;
    margin-top: 2rem;
}

ul {
    margin: 0.5rem 0 0.5rem 0rem; // Adjusted for better spacing
    padding-left: 0rem;
}

ul li {
    list-style-type: none;
}